{% extends 'base.html' %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link foreground" href="/">Landing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link foreground" href="#">Budget</a>
    </li>
{% endblock %}
{% block content %}
    <div class="container fluid" style="margin-left:auto; margin-right:auto">
        <div class="row">
            <div class="container fluid" style="border:4px solid #1B998B">
                <div class="row">
                    <h2 class="sectiontitle">Daily</h2>
                </div>
                <div class="row">
                    {% if records|length > 0 %}
                        <div class="col-sm-6">
                            <h5 class="foreground">You have spent...</h5>
                            {% if daily_budget > money_spent %}
                                <h3 class="primary">${{money_spent}} <span style="color:greenyellow">({{(money_spent - daily_budget)|round(2)}} | {{((money_spent - daily_budget) / daily_budget)|round(2) * 100}}%)</span></h3>
                            {% else %}
                                <h3 class="primary">${{money_spent}} <span style="color:red">({{(money_spent - daily_budget)|round(2)}} | {{((money_spent - daily_budget) / daily_budget)|round(2)}})</span></h3>
                            {% endif %}
                            <h5 class="foreground">today.</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="foreground">You are able to spend...</h5>
                            <h3 class="primary">${{daily_budget}}</h3>
                            <h5 class="foreground">per day.</h5>
                        </div>
                    {% else %}
                        <h2 style="color:red">Could not process records...</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}