<!-- Variables needed: session -->

{% extends 'base.html' %}

{% block theme_url %}
    '/switch_theme?wason=/daily'
{% endblock %}

{% if 'theme' in session %}
    {% block styles %}
    "{{ url_for('static', './styles/{{ session["theme"] }}.css')}}"
    {% endblock %}
{% endif %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3 section" style="margin:10px">
                    <h3 class="heading">MONEY SPENT TODAY</h3>
                    <h1 class="primary">${{data[0]|round(2)}}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}