{% extends 'base.html' %}

{% block title %}Landing{% endblock %}

{% block theme_url %}
    '/switch_theme?wason=/'
{% endblock %}

{% if 'theme' in session %}
    {% block styles %}
    {% set css_url = './styles/' + session["theme"] + '.css' %}
    {{ url_for('static', filename=css_url) }}
    {% endblock %}
    {% block icon %}
    {{ url_for('static', filename='icons/icon-'+ session['theme'] + '.png' )}}
    {% endblock %}
    {% block favicon %}
    {{ url_for('static', filename='icon-' + session['theme'] + '.ico') }}
    {% endblock %}
{% endif %}


{% block content %}
    {% if 'skey' in session %}
    <div class="row" style="height:fit-content">
        <div class="container section">
            <h3 class="heading">
                Current Balance ({{ data[5] }} | {{ plan_name }})
            </h3>
            <h1 class="primary" style="font-size:7vw">{{"${:,.2f}".format(data[0])}}</h1>
            <h6 class="foreground" style="font-size:20px">({{((data[0] * 100 / records[-1][2]|float)|round(2))}}% remaining)</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 section">
            <h5 class="heading">TODAY</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:88px;">
                <h3 class="primary">{{"${:,.2f}".format(data[2])}}</h3>  
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 section">
            <h5 class="heading">USAGE</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:82px;">
                {% if data[1] > data[2] %}
                    <h4 class="primary green">{{(100 + ((data[2] - data[1]) / data[1]) * 100)|round(2)}}%</h4>
                {% else %}
                    <h4 class="primary red">{{(100 + ((data[2] - data[1]) / data[1]) * 100)|round(2)}}%</h4>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 section">
            <h5 class="heading">DAILY BUDGET</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:88px;">
                <h3 class="primary">{{"${:,.2f}".format(data[1])}}</h3>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 section">
            <h5 class="heading">PAST WEEK</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:88px;">
                <h3 class="primary">{{"${:,.2f}".format(data[3])}}</h3>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 section">
            <h5 class="heading">USAGE</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:82px;">
                {% if data[1] * 7 > data[3] %}
                    <h4 class="primary green">{{(100 + ((data[3] - data[1] * 7) / (data[1] * 7)) * 100)|round(2)}}%</span></h4>
                {% else %}
                    <h4 class="primary red">{{(100 + ((data[3] - data[1] * 7) / (data[1] * 7)) * 100)|round(2)}}%</span></h4>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 section">
            <h5 class="heading">WEEKLY BUDGET</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:88px;">
                <h3 class="primary">{{"${:,.2f}".format(data[1] * 7)}}</h3>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 section">
            <h5 class="heading">PAST 30 DAYS</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:88px;">
                <h3 class="primary">{{"${:,.2f}".format(data[4])}}</h3>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 section">
            <h5 class="heading">USAGE</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:82px;">
                {% if data[1] * 30 > data[4] %}
                    <h4 class="primary green">{{(100 + ((data[4] - data[1] * 30) / (data[1] * 30)) * 100)|round(2)}}%</span></h4>
                {% else %}
                    <h4 class="primary red">{{(100 + ((data[4] - data[1] * 30) / (data[1] * 30)) * 100)|round(2)}}%</span></h4>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 section">
            <h5 class="heading">MONTHLY BUDGET</h5>
            <div style="display:flex;justify-content:center;align-items:center;height:88px;">
                <h3 class="primary">{{"${:,.2f}".format(data[1] * 30)}}</h3>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    {% else %}
    <div class="row" style="height:fit-content; min-height:0px">
        <div class="col">
            <div class="container" style="text-align:center; margin-left:auto; margin-right:auto">
                <h5 class="red">No key detected, need to authenticate:</h5>
                <a class="btn btn-outline-danger" href="{{ redir }}">VALIDATE</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}