{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" style="margin-left:auto; margin-right:auto;" >
        <div class="row" style="margin-left:auto; margin-right:auto">
            <div class="col">
                <div class="container" style="text-align:center">
                    {% if not 'skey' in session %}
                    <h5 style="color:red">No key detected, need to authenticate:</h5>
                    <a class="btn btn-outline-danger" href="https://tigerspend.rit.edu/login.php?wason=http://quantumrefuge.student.rit.edu:8080/auth">VALIDATE</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if 'skey' in session %}
        <script>
            function timedRefresh(timeoutPeriod) {
                setTimeout("location.reload(true);",timeoutPeriod);
            }
            
            window.onload = timedRefresh(300_000);
        </script>
        <div class="row">
            <div class="col-sm-6" style="margin-left:auto; margin-right:auto; margin-top:25px">
                <div class="row">
                    <div class="container" style="border:4px solid #1B998B">
                        <h3 class="foreground" style="margin-top:10px">
                            Current Balance 
                            <span>
                                {% if session['dining_id'] == 54 %}
                                    (Orange Plan)
                                {% elif session['dining_id'] == 55 %}
                                    (Tiger Plan)
                                {% else %}
                                    (Unrecognized)
                                {% endif %}
                            </span>
                        </h3>
                        <h1 class="primary" style="font-size:150px">${{data[0]|round(2)}}</h1>
                        <h6 class="primary" style="font-size:20px; color:#1B998B">({{((data[0] * 100 / records[-1][2]|float)|round(2))}}%)</h6>
                    </div>
                </div>
                <div class="row" style="margin-left:auto; margin-right:auto; margin-top:20px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" style="border:4px solid #1B998B">
                        <h5 class="foreground">TODAY</h5>
                        <h3 class="primary">${{data[2]|round(2)}}</h3>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" style="border:4px solid #1B998B">
                        <h5 class="foreground">USAGE</h5>
                        {% if data[1] > data[2] %}
                            <h3 class="primary" style="color:greenyellow">{{100 + ((data[2] - data[1]) / data[1])|round(2) * 100}}%</h3>
                        {% else %}
                            <h3 class="primary" style="color:red">{{100 + ((data[2] - data[1]) / data[1])|round(2) * 100}}%</h3>
                        {% endif %}
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" style="border:4px solid #1B998B">
                        <h5 class="foreground">DAILY BUDGET</h5>
                        <h3 class="primary">${{data[1]|round(2)}}</h3>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" style="margin-left:auto; margin-right:auto; margin-top:15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" style="border:4px solid #1B998B">
                        <h5 class="foreground">PAST WEEK</h5>
                        <h3 class="primary">${{data[3]|round(2)}}</h3>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" style="border:4px solid #1B998B">
                        <h5 class="foreground">USAGE</h5>
                        {% if data[1] * 7 > data[3] %}
                            <h3 class="primary" style="color:greenyellow">{{100 + ((data[3] - data[1] * 7) / (data[1] * 7))|round(2) * 100}}%</span></h3>
                        {% else %}
                            <h3 class="primary" style="color:red">{{100 + ((data[3] - data[1] * 7) / (data[1] * 7))|round(2) * 100}}%</span></h3>
                        {% endif %}
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" style="border:4px solid #1B998B">
                        <h5 class="foreground">WEEKLY BUDGET</h5>
                        <h3 class="primary">${{(data[1] * 7)|round(2)}}</h3>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" style="margin-left:auto; margin-right:auto; margin-top:15px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" style="border:4px solid #1B998B">
                        <h5 class="foreground">PAST 30 DAYS</h5>
                        <h3 class="primary">${{data[4]|round(2)}}</h3>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" style="border:4px solid #1B998B">
                        <h5 class="foreground">USAGE</h5>
                        {% if data[1] * 30 > data[4] %}
                            <h3 class="primary" style="color:greenyellow">{{100 + ((data[4] - data[1] * 30) / (data[1] * 30))|round(2) * 100}}%</span></h3>
                        {% else %}
                            <h3 class="primary" style="color:red">{{100 + ((data[4] - data[1] * 30) / (data[1] * 30))|round(2) * 100}}%</span></h3>
                        {% endif %}
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3" style="border:4px solid #1B998B">
                        <h5 class="foreground">MONTHLY BUDGET</h5>
                        <h3 class="primary">${{(data[1] * 30)|round(2)}}</h3>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}