{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block theme_url %}
    '/switch_theme?wason=/settings'
{% endblock %}

{% if 'theme' in session %}
    {% block styles %}
    {% set css_url = './styles/' + session["theme"] + '.css' %}
    {{ url_for('static', filename=css_url) }}
    {% endblock %}
    {% block icon %}
    {{ url_for('static', filename='icons/icon-'+ session['theme'] + '.png' )}}
    {% endblock %}
    {% block favicon %}
    {{ url_for('static', filename='icon-' + session['theme'] + '.ico') }}
    {% endblock %}
{% endif %}

{% macro togglable_feature(heading, description, button_id) %}
<div class="feature col">
    <h3 class="heading">{{heading}}</h3>
    <p class="primary">{{description}}</p>
    <div style="margin-bottom:0; display:flex; justify-content:center">
        <input type="checkbox" class="btn-check" id="{{button_id}}" autocomplete="off">
        <label class="btn btn-outline-primary" id="{{button_id}}-helper" for="{{button_id}}">Disabled</label><br>
    </div>
</div>
{% endmacro %}

{% macro email_feature(heading, description, email_id) %}
<div class="feature col">
    <h3 class="heading">{{heading}}</h3>
    <p class="primary">{{description}}</p>
    <div style="margin:0; display:flex; justify-content:center">
        <input type="email" class="form-control" id="{{email_id}}">
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
{% endmacro %}

{% macro phone_feature(heading, description, phone_id) %}
<div class="feature col">
    <h3 class="heading">{{heading}}</h3>
    <p class="primary">{{description}}</p>
    <div style="margin:0; display:flex; justify-content:center">
        <input type="tel" class="form-control" id="{{phone_id}}">
    </div>
    <small id="phoneHelp" class="form-text text-muted">We'll never share your phone number.</small>
</div>
{% endmacro %}

{% macro delete_self() %}
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account?
            </div>
            <div class="modal-footer">
                <a href="/delete_user" id="deleteButton" role="button" class="btn btn-outline-danger">Delete My Account</a>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="feature col">
    <h3 class="heading">Delete Account</h3>
    <p class="primary">Delete your account and all associated data.</p>
    <div style="margin:0; display:flex; justify-content:center">
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" tabindex="-1">
            Delete Account
        </button>
    </div>
{% endmacro %}

{% block content %}
<style>
    .form-control:disabled {
        opacity: 0.2;
    }
</style>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {{ togglable_feature('Credential Sync', 
    'Keep your TigerSpend credentials up to date. This option is necessary for notifications and allows for reduced login time.', 'credential-sync') }}
    {{ togglable_feature('Transaction Notifications',
    'Get notified when your account makes a new purchase. You can receive notifications via email or text message.', 'receipt-notifications') }}
    {{ togglable_feature('Balance Notifications',
    'Get notified when your account balance is too far above where it should be. You can receive notifications via email or text message.', 'balance-notifications') }}
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {{ email_feature('Email Address', 'Enter your email address to receive notifications.', 'email-address') }}
    {{ phone_feature('Phone Number', 'Enter your phone number to receive notifications.', 'phone-number') }}
    {{ delete_self() }}
</div>
<script>
    var credentialSyncButton = document.getElementById('credential-sync');
    var receiptNotificationsButton = document.getElementById('receipt-notifications');
    var balanceNotificationsButton = document.getElementById('balance-notifications');
    var emailAddressInput = document.getElementById('email-address');
    var phoneNumberInput = document.getElementById('phone-number');

    update = function() {
        if ($('#credential-sync').is(':checked')) {
            receiptNotificationsButton.removeAttribute('disabled');
            balanceNotificationsButton.removeAttribute('disabled');
        } else {
            receiptNotificationsButton.setAttribute('disabled', '');
            receiptNotificationsButton.checked = false;
            balanceNotificationsButton.setAttribute('disabled', '');
            balanceNotificationsButton.checked = false;
        }
        if ($('#receipt-notifications').is(':checked') || $('#balance-notifications').is(':checked')) {
            emailAddressInput.removeAttribute('disabled');
            phoneNumberInput.removeAttribute('disabled');
        } else {
            emailAddressInput.setAttribute('disabled', '');
            phoneNumberInput.setAttribute('disabled', '');
        }
    }

    post_data = function(body_data) {
        try {
            const response = fetch('/settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body_data)
            })
            console.log('Completed! ', response);
        } catch (error) {
            console.log('Error: ', error);
        }
    }

    $(document).ready(function() {
        document.getElementById('receipt-notifications').setAttribute('disabled', '');
        document.getElementById('balance-notifications').setAttribute('disabled', '');
        document.getElementById('email-address').setAttribute('disabled', '');
        document.getElementById('phone-number').setAttribute('disabled', '');

        update();

        $('#credential-sync').click(function() {
            console.log('clicked');
            update();
            document.getElementById('credential-sync-helper').innerHTML = ($('#credential-sync').is(':checked')) ? 'Enabled' : 'Disabled';
            document.getElementById('receipt-notifications-helper').innerHTML = 'Disabled';
            document.getElementById('balance-notifications-helper').innerHTML = 'Disabled';

            post_data({
                'credential-sync': $('#credential-sync').is(':checked'),
                'receipt-notifications': $('#receipt-notifications').is(':checked'),
                'balance-notifications': $('#balance-notifications').is(':checked'),
                'id': '{{ session["id"] }}'
            })
        })

        $('#receipt-notifications').click(function() {
            console.log('clicked');
            update();
            document.getElementById('receipt-notifications-helper').innerHTML = ($('#receipt-notifications').is(':checked')) ? 'Enabled' : 'Disabled';

            post_data({
                'receipt-notifications': $('#receipt-notifications').is(':checked'),
                'id': '{{ session["id"] }}'
            })
        })

        $('#balance-notifications').click(function() {
            console.log('clicked');
            update();
            document.getElementById('balance-notifications-helper').innerHTML = ($('#balance-notifications').is(':checked')) ? 'Enabled' : 'Disabled';

            post_data({
                'balance-notifications': $('#balance-notifications').is(':checked'),
                'id': '{{ session["id"] }}'
            })
        })

        $('#email-address').change(function() {
            console.log('changed');
            var validRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if (validRegex.test($('#email-address').val())) {
                document.getElementById('emailHelp').innerHTML = 'Email is valid. 👍';
                document.getElementById('emailHelp').classList.remove('red');
                document.getElementById('emailHelp').classList.add('green');

                post_data({
                    'email-address': $('#email-address').val(),
                    'id': '{{ session["id"] }}'
                })
            }
            else {
                document.getElementById('emailHelp').innerHTML = 'Email is invalid. 👎';
                document.getElementById('emailHelp').classList.add('red');
                document.getElementById('emailHelp').classList.remove('green');
            }
        })

        $('#phone-number').change(function() {
            console.log('changed');
            var validRegex = /^\d{3}-\d{3}-\d{4}$/;

            if (validRegex.test($('#phone-number').val())) {
                document.getElementById('phoneHelp').innerHTML = 'Phone number is valid. 👍';
                document.getElementById('phoneHelp').classList.remove('red');
                document.getElementById('phoneHelp').classList.add('green');

                post_data({
                    'phone-number': $('#phone-number').val(),
                    'id': '{{ session["id"] }}'
                })
            }
            else {
                document.getElementById('phoneHelp').innerHTML = 'Phone number is invalid. 👎 (123-456-7890)';
                document.getElementById('phoneHelp').classList.add('red');
                document.getElementById('phoneHelp').classList.remove('green');
            }
        })
    })
</script>
{% endblock %}