{% extends 'base.html' %}
{% block title %}Stats{% endblock %}

{% block theme_url %}
    '/switch_theme?wason=/daily'
{% endblock %}

{% if 'theme' in session %}
    {% block styles %}
    {% set css_url = './styles/' + session["theme"] + '.css' %}
    {{ url_for('static', filename=css_url) }}
    {% endblock %}
    {% block icon %}
    {{ url_for('static', filename='icons/icon-'+ session['theme'] + '.png' )}}
    {% endblock %}
    {% block favicon %}
    {{ url_for('static', filename='icon-' + session['theme'] + '.ico') }}
    {% endblock %}
{% endif %}

{% block content %}
<div class="row" style="margin-top:20px; min-height:0px; margin-bottom:0px">
    <div class="container section">
        <div class="progress" style="margin-top:10px">
            <div class="progress-bar progress-bar-animated" role="progressbar" style="width:{{ '{:,.2f}'.format((deposit - balance)/deposit * 100) }}%" aria-valuenow="{{ balance }}" aria-valuemin="0" aria-valuemax="{{ deposit }}">{{ "${:,.2f}".format(deposit - balance) }}</div>
            <div style="text-align:center; margin:auto">{{ "${:,.2f}".format(balance) }}</div>
        </div>
        <div class="row" style="margin-top:10px; font-size:1rem">
            <div class="col-sm-1 foreground" style="text-align:left">
                {{ '{:,.2f}'.format(((deposit - balance)/deposit) * 100) }}%
            </div>
            <div class="col-sm-10" style="text-align:center">
                <h1 class="primary" style="font-size:72px">{{"${:,.2f}".format(balance)}}</h1>
            </div>
            <div class="col-sm-1 foreground" style="text-align:right">
                {{ '{:,.2f}'.format((balance/deposit) * 100) }}%
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <canvas id="dailySpendingChart" style="height:500px"></canvas>
        <script>
            const ctx = document.getElementById('dailySpendingChart').getContext('2d');
            const dailySpendingChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [
                        {% for key, value in cost_per_day.items() %}
                            '{{key}}',
                        {% endfor %}
                    ].reverse(),
                    datasets: [{
                        label: '# of Votes',
                        data: [
                            {% for key, value in cost_per_day.items() %}
                                {{value}},
                            {% endfor %}
                        ].reverse(),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</div>
{% endblock %}