.foreground {
    color: #ebf7f6;
    text-align:center;
}
.primary {
    color: #72C0B7;
    text-align:center;
}
.theme-color {
    color: #09332e;
}
label {
    color: #ebf7f6;
}
.progress {
    --bs-progress-bar-bg: #1B998B;
    --bs-progress-bar-color: #09332e;
}
.datehead {
    --bs-table-striped-bg:#393539;
    --bs-table-bg:#393539;
}
.white {
    color: #ebf7f6;
}
.green {
    color: #01b636
}
.red {
    color: #ff0000
}
body {
    background-size: cover;
    background-color: #09332e;
}
.heading {
    margin-top:10px;
    background-color:#1B998B;
    color:white;
    text-align:center
}
.section {
    border:4px inset #1B998B;
    vertical-align: middle;
}
.table-bordered {
    border-color: #1B998B;
    border-style: inset;
    border-width: 4px;
}
.navbar {
    background-color: #1B998B;
}
